<!DOCTYPE html>
<html>
<head>
    <title>Request GitLab Runner</title>
</head>
<body>
    <h1>Request a New GitLab Runner</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
            {% if form.name.errors %}
                <ul class="errors">
                    {% for error in form.name.errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.gitlab_group_id.label }}<br>
            {{ form.gitlab_group_id(size=32) }}
            {% if form.gitlab_group_id.errors %}
                <ul class="errors">
                    {% for error in form.gitlab_group_id.errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.tags.label }}<br>
            {{ form.tags(size=32) }}
            {% if form.tags.errors %}
                <ul class="errors">
                    {% for error in form.tags.errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
