name: Build and Push Image

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@4.2.2

      - name: Login to GitHub Container Registry
        if: github.event_name == 'push'
        uses: docker/login-action@3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@3.11.1

      - name: Build and push
        uses: docker/build-push-action@6.18.0
        with:
          context: manager
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && github.repository == 'platform-engineering-org/akka' }}
          tags: ghcr.io/${{ github.repository_owner }}/akka-manager:latest
          platforms: linux/amd64,linux/arm64/v8
