name: Deploy with Kind

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@4.2.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@3.11.1

      - name: Build
        uses: docker/build-push-action@6.18.0
        with:
          context: .
          file: manager/Dockerfile
          load: true
          push: false
          tags: ghcr.io/${{ github.repository_owner }}/akka-manager:latest
          platforms: linux/amd64

      - name: Create Kind cluster
        uses: helm/kind-action@v1.12.0
        with:
          cluster_name: akka
          version: v0.26.0
          wait: 60s

      - name: Apply manifests
        run: |
          kind load docker-image ghcr.io/${{ github.repository_owner }}/akka-manager:latest --name akka
          kubectl apply -f manager/deploy/kind.yaml
